.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin-form__heading {
    margin: 30px auto;
    text-align: center;
    color: #85786C;
    font-family: "Noto Serif JP", serif;
}

.mb-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#nameSearch {
    flex: 4;
    background: #FCFBFC;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #B3AFAC;
}

#genderSearch {
    flex: 1;
    background: #F5F5F5;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #85786C;
}

#contentTypeSearch {
    flex: 3;
    background: #F5F5F5;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #85786C;
}

#dateSearch {
    flex: 2;
    background: #F5F5F5;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #85786C;
}

#searchButton {
    flex: 1;
    background: #85786C;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #FFFFFF;
}

#resetButton {
    flex: 1;
    background: #DBC4B5;
    height: 50px;
    border-radius: 0;
    border-color: #DBDCD9;
    color: #FFFFFF;
}

thead{
    background: #85786C;
    color: #FFFFFF;
}

.table{
    border: solid 1px #DBDCD9;
}

.table-content{
    color: #85786C;
}

.btn{
    color: #DBC4B5;
    background: #FCFBFC;
    border-radius: 0;
    border-color: #DBC4B5;
}

.modal-content{
    border-radius: 0;
    border: solid 2px #85786C;
}


.modal-header{
    border:none;
}

.close{
    color: #85786C
}

.modal-body{
    margin:0 0 auto 25px;
    padding: 30px 15px;
    color: #85786C;
}

.modal-body .form-group {
    display: flex;
    align-items: center;
}

.modal-body .form-group label {
    margin-bottom: 0;
}

.modal-footer{
    border: none;
    margin: 30px 40%;
}

.modal-dialog {
    max-width: 600%;
    width: 600px;
}

.modal-backdrop {
    display: none;
}

.btn-2 {
    color: #FFFFFF;
    background: #BC3810;
    border-radius: 0;
    border:none;
    box-shadow:0;
    padding: 5px 15px;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.pagination {
    margin: 20px auto 30px;
}

.pagination li {
   
    padding:3px 0;
    background: #FFFFFF;
    border: solid 1px #DBDCD9;
    color: #85786C;
}

.pagination li a {
    color: #85786C;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
        padding: 5px 15px;
}

.pagination li.active span {
    color: white;
        background-color: #85786C;
        padding: 5px 15px;
}

.pagination li a:hover,
.pagination li a:focus {
    color: white;
    background-color: #85786C;
    padding: 5px 15px;
}

.pagination li.disabled span {
    color: gray;
    background-color: transparent;
    padding: 5px 15px;
}