.header-nav__link {
    color: #D9D1CC;
    /* 親要素の色を継承 */
    /* 下線を消す */
    /* カーソルをデフォルトにする */
}

.header-nav__link:active,
.header-nav__link:focus,
.header-nav__link:hover {
    color: #D9D1CC;
    /* すべての状態で色を変えない */
    outline: none;
    /* フォーカス時のアウトラインを消す */
    text-decoration: none;
}

.header-nav__item button {
    background: none;
    /* ボタンの背景を消す */
    border: none;
    /* ボタンの境界線を消す */
    color: #D9D1CC;
    /* 親要素の色を継承 */
    padding: 0;
    /* パディングをリセット */
    /* カーソルをデフォルトにする */
}

.header-nav__item button:active,
.header-nav__item button:focus {
    outline: none;
    text-decoration: none;
    /* フォーカス時のアウトラインを消す */
}

.header {
    background: #ffffff;
    border-bottom: 2px solid #E4E4E4;
    width: '100%',
}

.header__inner {

    padding: 20px 15px;
    max-width: 1230px;
    margin: 0 5% 0 42%;
}

.header__logo {
    color: #85786C;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: "Noto Serif JP", serif;

        /* 親要素の色を継承 */
    
        /* 下線を消す */
}

.header__logo:hover {
    color: #85786C;
    /* ホバー時に色を変えない */
    /* カーソルをデフォルトにする */
    text-decoration: none;
}

.header-utilities {
    display: flex;
    align-items: center;

}


.header-utilities nav {


    width: 85px;
    height: 30px;
    background: #F6F6F5;
    border: 1px solid #D1CFCE;
    margin-left: 300px;
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-nav__link {
    color: #C8C7C3;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    border: none;
    background: #F6F6F5;
}

.header-nav__item {
    margin: 0px auto;
}